:root {
    --body_gradient_left: #7200D0;
    --body_gradient_right: #24292E;
    --form_bg: #ffffff;
    --input_bg: #E5E5E5;
    --input_hover: #eaeaea;
    --submit_bg: #1FCC44;
    --submit_hover: #40e263;
    --icon_color: #6b6b6b;
    --tamanyo_icono: 26px;
}





html, body {
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
    margin: 0;
    padding: 0;
}

.contenedor {
    display: grid;

    width: 100%;
    height: 100%;

    max-width: 100%;
    max-height: 100%;

    grid-template-areas: "head head"
                        "main main"
                        "foot foot";
}

  
p {
    font-weight: 500;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

header {
    display: grid;

    grid-template-columns: 1fr 4fr 1fr;

    grid-area: head;
    width: 100%;
    height: 80px;
    background-color: #24292E;
    justify-content: center;
    align-items: center;
}

/* Formato escritorio */
.avatarPerfil {
    margin-left: 10px;
}

.avatarPerfil img {
    width: var(--tamanyo_icono);
    height: var(--tamanyo_icono);
    margin-bottom: -4px;
    border-radius: 3px;
    border: 2px solid var(--input_bg);
}

.divLogout img {
    width: var(--tamanyo_icono);
    height: var(--tamanyo_icono);
    margin-left: 10px;
    cursor: pointer;
}

.notificaciones .tooltipNotificaciones {
    visibility: hidden;
    width: 60px;
    color: #fff;
    text-align: center;
    border-radius: 6px;

    /* Position the tooltip */
    position: absolute;

    margin-left: -60px;
    margin-top: 35px;
}

.notificaciones:hover .tooltipNotificaciones {
    visibility: visible;
}

.divLogout .tooltipSalir {
    visibility: hidden;
    width: 60px;
    color: #fff;
    text-align: center;
    border-radius: 6px;

    /* Position the tooltip */
    position: absolute;

    margin-left: -40px;
    margin-top: 35px;
}

.divLogout:hover .tooltipSalir {
    visibility: visible;
}

.avatarPerfil:hover .tooltipPerfil {
    visibility: visible;
}

.avatarPerfil .tooltipPerfil {
    visibility: hidden;
    width: 60px;
    color: #fff;
    text-align: center;
    border-radius: 6px;

    /* Position the tooltip */
    position: absolute;

    margin-left: -40px;
    margin-top: 35px;
}



.login {
    display: flex;
    justify-content: right;
    padding-right: 20px;
    margin-left: 5px;
}

/* menu desplegable */
/*Botón*/
.avatarPerfil {
    background-color: var(--input_bg);
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #24292E;
    cursor: pointer;
}
  
/*Botón hover y focus*/
.botonDesplegable:hover, drop-buttton:hover {
    background-color: #2EABAB;
}
  
/*Posición del contenedor*/
.menuDesplegable {
    position: relative;
    display: inline-block;
}
  
/*submenu*/
.contenidoDesplegable {
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 30px;
    border-radius: 5px;
    right: 1px;
    border: 1px solid #2c3e50;
    background-color: #ffffff;
}
  
.contenidoDesplegable a {
    color: #2c3e50;
    border-radius: 5px;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
}
  
.contenidoDesplegable a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}
  
.entrar {
    display: inline-block !important;
    margin: auto;
    margin-right: 10px;
    text-align: center;
}

.entrar input {
    border-color: #d1d5da !important;
    border-radius: 3px !important;
    

    border: 1px solid #e1e4e8 !important;

    border-color: #E1E4E8;

    display: inline-block !important;
    text-decoration: none !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
    background: none;
    padding: 2px;

    color: #ffffff;
}

.registrarse {
    display: inline-block !important;
    margin: auto;
    margin-left: 0;
}

.registrarse input {
    border-color: #d1d5da !important;
    border-radius: 3px !important;
    
    border: 1px solid #e1e4e8 !important;

    border-color: #E1E4E8;

    display: inline-block !important;
    text-decoration: none !important;
    padding-right: 8px !important;
    padding-left: 8px !important;

    background: none;
    padding-top: 2px;
    padding-bottom: 2px;

    color: #ffffff;
}

.tituloHeader {
    display: flex;
    margin: auto;
}

.tituloHeader h1 {
    margin: auto;
    text-align: center;
    color: #d1d5da;
}

.imagenHeader img {
    width: 56px;
    height: 56px;
    display: block;
    text-align: left;
    margin: 10px;
}
.login li {
    list-style: none;
    text-decoration: none !important;
}

nav {
    text-align: end;
    margin: 0 auto;
}
  
ul {
    display: flex;
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
}
  
li {
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    color: #ffffff;
    transition: .4s;
    margin-right: 5px;
}
  

  
li a {
    text-decoration: none;
    color: #ffffff;
}
  
li a:hover {
    text-decoration: none;
    color: #C2C9CB;
}

.activo {
    border-color: #d1d5da !important;
    border-radius: 3px !important;
    
    border: 1px solid #e1e4e8 !important;

    border-color: #E1E4E8;

}
  
main {
    display: grid;
    grid-area: main;
  
    grid-template-columns: 4fr 2fr;
  
    width: 100%;
    padding-bottom: 10px;
}

main p, main h1, main h2, main h3 {
    color: #24292E
}
  
#mainContainer {
    width: 100%;
    height: 100%;
  
    background-color: #FAFBFC;
    text-align: center;
}

#mainContainer h1 {
    text-align: center;
}

.cabeceraGrupos, .cabeceraMusicos, .cabeceraNoticias {
    display: flex;
    background: #24292E;
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    justify-content: center;
    background: linear-gradient(#24292E 20%, var(--input_bg) 200%);
}

.cabeceraGrupos h1, .cabeceraMusicos h1, .cabeceraNoticias h1 {
    color: var(--input_bg);
    text-align: center;
    align-self:center;
}

#rightContainer {
    width: 100%;
    height: calc(100% -10px);
    border-left: 2px solid #24292E;
    /* border-top: 2px solid var(--input_bg); */
    background: linear-gradient(#3d3d3d 10%, #24292E 25%);
    margin-top: 10px;
}

#rightContainer h1 {
    text-align: center;
    color: var(--input_bg);
}


/* Formulario de filtrado */
.filtradoGrupos {
    display: grid;

    width: 100%;
    grid-template-rows: 4fr;
}

.contenedorInput {
    /* vertically align icon and text inside the div*/
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 20px;
}


.input-busqueda {
    /* customize the input tag with lighter font and some padding*/
    background-color: var(--input_bg);
    color: var(--icon_color);
    
    width: 80%;
    border: none;
    font-size: 1.3rem;
    font-weight: 400;
    padding-left: 30px;
    padding-right: -30px;
    border-radius: 20px;
    margin: 0 auto;
}

.input-busqueda:hover,
.input-busqueda:focus {
    /* remove the outline */
    outline: none;
}

.generos {
    display: grid;

    grid-template-columns: 2fr 2fr;
}

.genero {
    width: 100%;
}

/*.iconosGenero {
    height: 170px;
    width: 250px;
}
	
.iconosGenero:hover {
    box-shadow: inset -5px 5px 193px -53px rgba(0,0,0,1);
}

.iconosGenero {
    overflow: hidden;
}*/

input[type=checkbox] {
    display: none;
}
    
.iconosGenero {
    height: 170px;
    width: 250px;
}
     
input[type=checkbox] + .iconosGenero {
    height: 170px;
    width: 250px;
    display:inline-block;
}

input[type=checkbox]:checked + label {
    opacity: 0.5;
    height: 170px;
    width: 250px;
    border: 4px solid gold;
    display:inline-block;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.range-slider {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.range-slider {
    width: 100%;
}

.range-slider__range {
    
    -webkit-appearance: none;
    width: calc(90% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
    margin-left: 25px;
}

.range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}

.range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: var(--input_bg);
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}

.range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}

.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #000000;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: var(--input_bg);
    padding: 5px 10px;
    margin-left: 8px;
}
.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid var(--input_bg);
    border-bottom: 7px solid transparent;
    content: '';
}
::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}
input::-moz-focus-inner, input::-moz-focus-outer {
    border: 0;
}

/* Fin filtrado */
  
.posts {
    margin: 0 auto;
    width: 100%;
}
  
.post {
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
  
    text-align: center;
  
    width: 90%;
  
    background-color: white ;
    border-radius: 20px 20px 20px 20px;
    border: 2px solid white;
}
  
.titulo, .descripcion, .fechaAutor  {
    border: 1px solid black;
}
  
.titulo  {
    border: 1px solid black;
    border-radius: 20px 20px 0 0;
}
  
  
.fechaAutor  {
    display: grid;
    grid-template-columns: 1fr 10fr 10fr 2fr;
    border: 1px solid black;
    border-radius: 0 0 20px 20px;
    height: 10%;
}
  
.avatar {
    width: 42px;
    height: 42px;
    display: block;
    margin: 5px;
    text-align: left;
    border-radius: 20px 20px 20px 20px;
    background-color: red;
    border: 1px solid rgb(107, 102, 102);
}

.fecha {
    text-align: right;
    margin-right: 1%;
}

.invitar {  
    background-color: #24292E;
    border: 2px solid rgb(121, 127, 133);

	border-radius: 6px !important;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
    font-size: 16px;
    margin: 10px;
	text-decoration: none;
}

.invitar:hover {
    background-color: #E1E4E8;
    color: #24292E;
}

.invitar:active {
	position:relative;
	top:1px;
}
  
.autor {
    text-align: left;
    margin-left: 1%;
}


/* INICIO Músicos */

.musicos {
    width: 98%;
    margin: 0 auto;
}

/* FIN Músicos */

/* INICIO Grupos */

.grupos {
    width: 98%;
    margin: 0 auto;
}

.grupo {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr ;

    background-color: rgba(250, 215, 215, 0.2);
    margin-top: 30px;
}

.grupos .grupo:last-child {
    /* margin-bottom: 10px; */
}

.nombreGrupo {
    background-color: #24292E;
}

.nombreGrupo h3 {
    color: var(--input_bg);
}

.avatarComentarios {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.avatarGrupo {
    width: 100px;
    height: 100px;
    display: block;
    margin: 5px;
    text-align: left;
    border-radius: 20px 20px 20px 20px;
}

.avatarComentariosCrearGrupo {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.avatarCrearGrupo {
}

.avatarCrearGrupoImagen {
    width: 100px;
    height: 100px;
    display: block;
    margin: 5px;
    text-align: left;
    border-radius: 20px 20px 20px 20px;
}

#cargarImagen {
    width: 100px;
    height: 20px;
}

.descripcionGrupo {

    
    align-self: center;
}

.descripcionGrupo p {
    text-align: center;
}

.noDescripcionGrupo {
    align-self: center;
}

.noDescripcionGrupo p {
    text-align: center;
    align-self: center;
}

.datosGrupo {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 2fr 2fr;

    background-color: #24292E;
}

.verGrupo {
    margin: 0 auto;
    cursor: pointer;
}

.vistaGrupo {

    display: grid;

    grid-template-columns: 1fr 1fr 5fr 1fr;

    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;

    background-color: var(--input_bg);

    border-radius: 3px;

    border: 2px solid black;
}

.cruceta {
    position: absolute;
    cursor: pointer;
    justify-content: right;
    width: 20px;
    height: 20px;
    color: var(--input_bg);
    border: 1px var(--input_bg) solid;
    border-radius: 3px;
    text-align: center;
    right: 0;
    margin: 4px;
    justify-self: normal;
}

table {
    text-align: center  ;
}

th {
    border-bottom: 1px solid #24292E;
    border-top: 1px solid #24292E;
}

.nombreVG {
    display: flex;
    margin: auto;
    justify-content:center;

    background-color: #24292E;
    color: var(--input_bg);
}

.nombreVG h1 {
    color: var(--input_bg);
    text-align: center;
    align-self:center;
    justify-self:center;
}

.verGrupo {
    margin: 0 auto;
    cursor: pointer;
}

.verUsuarioVG {
    margin: 0 auto;
    cursor: pointer;
}

.generoLocalidadVG {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.generoVG, .localidadVG {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.generoVG {
    margin-left: 5px;
}

.listaIntegrantesVG {
    
}

.integrantesTituloVG {
    display: flex;
    margin: 0;
    height: 40px;
    margin-bottom: 5px;
    background-color: #24292E;
}

.selectorVG {
    /* color: var(--input_bg); */
    color: black;
    border: 1px solid black;
    border-radius: 3px;
}

.listaIntegrantesVG h3 {
    color: var(--input_bg);
    text-align: center;
    align-self:center;
    margin: 0 auto;
    border-radius: 3px;
    border: none;
    padding: 2px;
}

.integrantesVG {
    display: grid;
    grid-template-rows: repeat(1fr);
}

.selectorVG p {
    border: 1px solid var(--input_bg);
    text-align: center;
}

.estadoPetionVG {
    background-color: #24292E;

    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.estadoVG {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 5px;
    width: 40%;
}

.estadoVG p:first-child {
    margin-right: 10px;
}

.estadoVG p, .enviarPeticionVG p {
    color: var(--input_bg);
    
}

.enviarPeticionVG {
    display: flex;
    justify-content: end;

    margin-right: 10px;
}

.enviarPeticionDesVG {
    opacity: 0.5;
    cursor: default;
}

.enviarPeticionHabVG {
    opacity: 1;
    cursor: pointer;
}






.datosGrupo * {
    color: var(--input_bg);
    text-align: center;
    align-self: center;
}

.selector {

    margin-left: 10px;
    border-color: #d1d5da !important;
    border-radius: 3px !important;
    
    border: 1px solid #e1e4e8 !important;

    border-color: #E1E4E8;
    padding: 2px;
}

.grupoCompleto p:last-child {
    margin-right: 10px;
}

input, select {
    border-radius: 3px;
}

.nombreGrupoCrearGrupo {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #24292E;
    text-indent: initial;
}

.nombreGrupoInput {
    width: 300px;
    height: 20px;

    margin: -20px 5px; 
    position: relative;
    top: 65%;

}

.nombreGrupoCG {
    color: #fff;
    text-align: right;
}

.botonCrearGrupo {

    height: 20px; 
    width: 90px; 
    margin: -20px -30px; 
    position: relative;
    top: 65%; 
    left: 50%;
    border-radius: 3px;
}

.crearGrupo {
    width: 98%;
    margin: 0 auto;
}

.descripcionCrearGrupo {
    width: 100%;
    height: 100px;
    margin-right: 5px;
    text-align: justify;
}


.generoGrupoCrearGrupo, .cpCrearGrupo, .numeroIntegrantesCrearGrupo {
    width: 20px;
    margin-left: 5px;
    color: #24292E;
}

.grupoCompletoCrearGrupo  {
    width: 100px;
    margin-left: 5px;
    margin-right: 25px;
    color: #24292E;
}

.grupoCompletoCrearGrupo * {
    color: #24292E;
}

.generoGrupoCrearGrupo {
    text-align: start;
    width: 50%;
    margin-left: 5px;
    color: #24292E;
}

.generoGrupoCrearGrupo * {
    color: #24292E;
}

.generoGrupo p:last-child, .numeroIntegrantes p:last-child, .cpGrupo p:last-child, .grupoCompleto p:last-child {
    text-align: start;
    margin-left: 10px;
}


.generoGrupo, .numeroIntegrantes, .cpGrupo, .grupoCompleto {
    display: grid;
    grid-template-columns: 1fr 5fr ;
}

.generoGrupo {
    margin-left: 10px;
}

.error {
    color: red;
}

.requerido {
    border: 1px solid red;
}

.numeroIntegrantes {
    
}

.cpGrupo {
    
}

.grupoCompleto {

}

/* PerfilV.php */

.perfilUsuario {
    width: 98%;
    height: 100%;

    margin-top: 5%;

    display: grid;

    grid-template-columns: 4fr 1fr;
}


.tituloPerfil {
    display: flex;
    background-color:  #24292E;
    color: var(--input_bg);
    height: 80px;
    margin: 0 auto;
    margin-top: 15px;

    justify-content: center;
}

.tituloPerfil h1 {
    color: var(--input_bg);
}

.avatarPerfilUsuario {

    display: grid;
    grid-template-rows: 5fr 1fr;
    width: 100%;
    height: 70%;

    min-width: 100px;
    min-height: 200px;
    
}

.avatarPerfilUsuario img {
    width: 100%;
    height: 90%;

    border-radius: 3px;

    border: 1px solid #24292E !important;
}

.cargarImagen {

}

.datosPerfil input, .datosPerfil textarea, .datosPerfil select {
    height: 30px;
    margin-top: 13px;
    margin-left: 40px;
    margin-right: 40px;
}

.nombrePerfil, .descripcionPerfil, .cpPerfil, .emailPerfil, .telefonoPerfil, .instrumentosPerfil {
    display: grid;

    grid-template-columns: 1fr 8fr;

    text-align: center;
    margin-left: 50px;
}

.descripcionPerfil {
    
}

.descripcionPerfil textarea {
    overflow-y: scroll;
    resize: none;
    height: 50px;
    text-align: left;

    border-radius: 3px !important;
}

.contrasenyaPerfil {

    display: grid;

    grid-template-columns: 1fr 7fr 1fr;

    
    text-align: center;
    margin-left: 50px;
    
}

.contrasenyaPerfil input[name='mod'] {
    margin-right: 0;
}

.contrasenyaPerfil input[type='button']{
    width: 60px !important;
}

.nombrePerfil p, .descripcionPerfil p, .contrasenyaPerfil p, .cpPerfil p, .emailPerfil p, .telefonoPerfil p, .instrumentosPerfil p {
    border-radius: 3px !important;
    
    border: 1px solid #e1e4e8 !important;
    padding: 3px;

    width: 100px;
}

#botonModificarPerfil {
    width: 500px;
    height: 40px;

    border-radius: 3px !important;
    
    border: 1px solid #24292E !important;
    padding: 3px;
    justify-content: right;
    justify-items: right;
    justify-self: right ;
}

/* FIN Grupos */
  
footer {
    grid-area: foot;
    position: relative;
    width: 100%;
    height: 12vh;
    z-index: 0;
    background: #24292E;
    color: white;
  
    text-align: center;
}

